html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #6E6893;
    background-color: #F4F2FF;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.msg {
    visibility: hidden;
    min-width: 250px;
    background-color: #F2F0F9;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}

.msg.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 40px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 40px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 40px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 40px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}